.rbc-day-slot .rbc-event {
	position: absolute;
	overflow-y: scroll;

	height: auto;
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}

.rbc-event::-webkit-scrollbar {
	width: 0;
}
.rbc-time-view {
	border: none;
}

.rbc-time-slot {
	color: #000;
	font-weight: 600;
}

.rbc-day-slot .rbc-event-label {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.rbc-day-slot .rbc-events-container {
	margin-right: 0px;
}

.rbc-day-slot .rbc-event-label {
	display: none;
}

.rbc-day-bg {
	display: none;
}
.rbc-time-view .rbc-row {
	min-height: 0;
}

.rbc-header {
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
}

// .rbc-day-slot .rbc-event--global {
// 	background-color: #fbab18;
// }
.rbc-time-slot {
	display: flex;
	justify-content: center;
	align-items: center;
}

.rbc-timeslot-group {
	min-height: 60px;
	// background-color: #6ebe4a;
}

.rbc-time-content {
	max-height: 680px;
	overflow-y: scroll;
	// -ms-overflow-style: none; /* IE and Edge */
	// scrollbar-width: thin; /* Firefox */
}

.calendar-content::-webkit-scrollbar {
	width: 0;
}
//toolbar
.rbc-day-slot .rbc-event,
.rbc-day-slot .rbc-background-event {
	border: none;
}

.event-card {
	background-color: #f0f6aa;
	color: black;
	width: 100%;
	height: auto;
	border-left: 4px solid #bc770f;
	text-align: center;

	font-size: 12px;
	border-radius: 0px;
	white-space: pre-wrap;
}

.rbc-header {
	border-bottom: none;
	height: 100px;
}

.rbc-time-column .rbc-timeslot-group {
	display: flex;
	justify-content: center;
	align-items: center;
	min-width: 45px;
	// border-radius: 8px;
	// margin: 2px;
	// border: 1px solid #d7d7d7;
}
