.title-location {
	font-size: 1rem;
}

.content-name {
	background-color: hotpink;
}

.content-card {
	width: 100%;
	min-width: 100%;
	height: auto;
	max-height: 130px;
	// display: grid;
	// grid-template-columns: 2fr 1fr;
	padding: 0px;
	margin-top: 5px;
	overflow-y: scroll;
}

.content-card::-webkit-scrollbar {
	width: 0;
}

// @media only screen and(max-width :1200px) {
// 	.content-card {
// 		display: flex;
// 		flex-direction: column-reverse;
// 		align-items: flex-start;
// 		gap: 5px;
// 	}
// }
.text-start {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 1rem;
	padding: 0.2rem 0 0 0.2rem;

	.member {
		background-color: #f7825d;
		border-radius: 10px;
		width: min(100%, 120px);
		height: auto;
		padding: 5px;
		display: flex;
		justify-content: center;
		align-items: center;
		color: #fff;
		font-weight: 600;
	}
}
.event-title {
	width: 100%;
	word-wrap: break-word;
	text-align: start;
	color: #010101;
	display: flex;
	flex-direction: column;
	gap: 0.2em;

	span {
		&:nth-child(1) {
			font-weight: 600;
			font-size: 14px;
			line-height: 17px;
		}
		&:nth-child(2) {
			font-weight: 600;
			font-size: 13px;
			line-height: 17px;
			color: #686767;
		}
	}
}

.participan {
	display: flex;
	justify-content: flex-end;

	.color {
		width: auto;
		height: 20px;
		border-radius: 6px;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 0px 5px;

		font-family: 'Rubik';
		font-style: normal;
		font-weight: 400;
		font-size: 13px;
		line-height: 17px;

		color: #ffffff;

		.max-capacity {
			opacity: 0.6;
		}
		&.success {
			background-color: #29962c;
		}
		&.danger {
			background-color: #c2342a;
		}
		&.warning {
			background-color: #bc770f;
		}
	}
}

.component-header {
	width: auto;
	height: 100px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	gap: 5px;

	.date {
		width: 50px;
		height: 50px;
		border-radius: 50%;
		background-color: transparent;
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 28px;
		color: #000;
	}
	label {
		color: #b2babb;
		letter-spacing: 2px;
		font-size: 13px;
		text-align: center;
		font-weight: 600;
	}

	&.active {
		.date {
			background-color: hotpink;
			color: #fff;
		}
		label {
			color: hotpink;
		}
	}
}

#slot-wrapper {
	text-align: center;
	font-weight: bold;
	opacity: 0.5;
}

.toolbar {
	width: 100%;
	display: flex;
	// justify-content: spa;
	gap: 1rem;
	align-items: center;
	// background-color: hotpink;
	.rbc-btn-prev-next {
		width: auto;
		display: flex;
		button {
			width: 50px;
			height: 35px;
			border: 1px solid #d3d3d3;
			outline: none;
			background-color: #1b4f72;
			&:nth-child(1) {
				border-radius: 8px 0 0 8px;
				&:focus {
					opacity: 0.5;
				}
			}
			&:nth-child(2) {
				border-radius: 0 8px 8px 0;
				&:focus {
					opacity: 0.5;
				}
			}
		}
	}

	button {
		width: 80px;
		height: 35px;
		border: 1px solid #d3d3d3;
		outline: none;
		color: #fff;
		border-radius: 8px;
		&:focus {
			opacity: 0.5;
		}

		background-color: #1b4f72;
	}

	.rbc-toolbar-label {
		width: 100%;
		text-align: right;
	}
}
// .rbc-toolbar {
// 	// background-color: hotpink;
// 	button {
// 		width: 80px;
// 		height: 40px;
// 		background: #1a5276 !important;
// 		// opacity: 0.5;
// 		border-radius: 10px !important;
// 		color: #fff !important;
// 		text-align: center;
// 		padding: 0 !important;
// 		&:active {
// 			background: #3a36db;
// 			opacity: 0.8;
// 		}
// 		&:active {
// 			background: #3a36db;
// 			opacity: 0.8;
// 		}
// 		&:hover {
// 			background: #3a36db;
// 			opacity: 0.8;
// 		}
// 		&:focus {
// 			background: #3a36db;
// 		}
// 	}
// 	.rbc-btn-group {
// 		button {
// 			width: 67px;
// 			height: 40px;
// 			background-color: #1a5276;

// 			&:nth-child(1) {
// 				border-radius: 10px 0px 0px 10px !important;
// 				// color: #000;
// 			}
// 			&:nth-child(2) {
// 				border-radius: 0px 10px 10px 0px !important;
// 			}

// 			&:active {
// 				background: #3a36db;
// 				opacity: 0.8;
// 			}
// 			&:hover {
// 				background: #3a36db;
// 				opacity: 0.8;
// 			}
// 			&:focus {
// 				background: #3a36db;
// 				opacity: 0.8;
// 			}
// 		}
// 	}
// }
