#form-signup {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;

	display: grid;
	grid-template-columns: 30% 70%;
	.wrapper {
		width: 100%;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		background-color: #fff;
		.box-signup {
			width: min(100%, 500px);
			min-width: 350px;
			height: auto;
			padding: 15px;
			// border: 1px solid #d3d3d3;
			background-color: #fff;
			// border-radius: 8px;
			// box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

			.title-logo {
				display: flex;
				align-items: center;
				justify-content: center;
				flex-direction: column;
				gap: 1.5rem;
				margin-bottom: 2rem;

				h3 {
					font-weight: 600;
					color: #06152b;
					font-size: 33px;
				}
			}
			.form {
				display: flex;
				flex-direction: column;
				gap: 10px;

				.btn-signup {
					height: 50px;
					width: 100%;
					border-radius: 5px;
					outline: none;
					border: 0px;
					background-color: #1a5276;
					margin-top: 20px;
					font-weight: 600;
					color: #fff;
					&:disabled {
						opacity: 0.35;
						pointer-events: none;
					}
				}

				.form-cehckbox {
					margin-top: 0px;
					margin-bottom: 10px;
					display: flex;
					align-items: center;
					gap: 5px;
				}

				.terms {
					display: flex;
					gap: 5px;
				}
			}
		}
	}
	.image-wrapper {
		width: 100%;
		height: 100%;
		background-color: #f1f4fa;
		display: flex;
		align-items: center;
		justify-content: center;
	}
}
