.header-component {
	width: 100%;
	height: min(100%, 100px);
	background-color: #fff;
	padding: 10px;
	border-radius: 8px;

	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 10px;
	margin-bottom: 20px;

	&.one-right {
		justify-content: flex-end;
	}

	&.one-left {
		justify-content: flex-end;
	}
}
