#report {
	width: 100%;
}

#list-report {
	.button-header {
		width: 100%;
		padding: 10px;
		display: flex;
		justify-content: space-between;
		background-color: #fff;

		.list-button {
			width: 100%;
			display: flex;
			gap: 0.5rem;

			button {
				width: auto;
				padding: 5px 10px;
				background-color: transparent;
				outline: none;
				border-radius: 8px;
				border: 1px solid #d3d3d3;

				&.active {
					background-color: #1b4f72;
					color: #fff;
					font-weight: 600;
				}
			}
		}
	}
}
