@import '../../assets//global-style//mixin';
@import '../../assets//global-style//screen';

#dashboard {
	width: 100%;
	height: 100%;
	min-height: 500px;
	padding: 20px;
	display: flex;
	flex-direction: column;
	gap: 2rem;

	.top-report {
		display: flex;
		gap: 2rem;

		.card-report {
			width: 270px;
			height: 120px;
			border-radius: 8px;
			background-color: #fff;
			display: flex;
			align-items: center;
			padding: 25px;
			// justify-content: center;
			gap: 1rem;

			.content-value {
				width: auto;
				height: auto;
				display: flex;
				flex-direction: column;

				h3 {
					font-size: 25px;
					font-weight: 600;
					margin: 0;
					padding: 0;
					font-family: 'DM Sans';
					font-style: normal;
					font-weight: 700;
					font-size: 24.0637px;
					line-height: 31px;
					color: #06152b;
					opacity: 0.7;
				}
				span {
					font-family: 'DM Sans';
					font-style: normal;
					font-weight: 400;
					font-size: 15.0213px;
					line-height: 20px;

					color: #06152b;
					opacity: 0.7;
				}
			}
		}
	}

	.grafik {
		width: 100%;
		height: auto;
		background-color: aqua;

		@include extra-small-device() {
			display: flex;
			flex-direction: column;
			gap: 1rem;
		}
		@include small-device() {
			display: flex;
			flex-direction: column;
			gap: 1rem;
		}
		@include medium-device() {
			display: flex;
			// justify-content: space-between;
		}
		@include large-device() {
			display: grid;
			grid-template-columns: 2fr 1fr;
			gap: 1em;
		}
		@include extra-large-device() {
			display: grid;
			grid-template-columns: 2fr 1fr;
			gap: 1em;
		}

		.grafik-bar {
			width: 100%;
			padding: 0 10px 10px 10px;
			background-color: #fff;
			box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px,
				rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
			border-radius: 8px;

			.title-chart {
				width: 100%;
				padding: 5px;
				font-weight: 600;
				font-size: 1.5em;
				color: #06152b;

				opacity: 0.7;
			}
		}

		.grafik-dougnut {
			width: 100%;
			height: 100%;
			padding: 10px;
			background-color: hotpink;
			box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px,
				rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
			border-radius: 8px;
			.title-chart {
				width: 100%;
				padding: 5px;
				font-weight: 600;
				font-size: 1.5em;
				color: #06152b;

				opacity: 0.7;
			}

			.component {
				width: 100%;
				height: 100%;

				margin-top: 1rem;
				@include extra-small-device() {
					max-height: 200px;
				}
				@include small-device() {
					max-height: 200px;
				}
				@include medium-device() {
					max-height: 300px;
				}
				@include large-device() {
					max-height: 300px;
				}
				@include extra-large-device() {
					max-height: 400px;
				}
			}
		}
	}

	.table-recent {
		width: 100%;
		max-width: 66%;
		background-color: #fff;
		box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px,
			rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
		border-radius: 8px;
		padding: 2px;

		.title {
			width: 100%;
			padding: 5px 10px;
			font-weight: 600;
			font-size: 1.5em;
			color: #06152b;

			opacity: 0.7;
		}
	}
}
