#detail-event {
	width: 100%;
	height: auto;
	display: flex;
	flex-direction: column;
	font-family: 'DM Sans';
	font-style: normal;

	color: #06152b;

	h3 {
		text-align: center;
		font-weight: 500;
		font-size: 25px;
		line-height: 21px;
	}

	p {
		text-align: start;
	}

	.detail-time {
		display: flex;
		flex-direction: column;

		font-weight: 400;
		font-size: 14px;
		line-height: 21px;
	}
}

.btn-event-register {
	width: 100%;
	height: auto;
	text-align: center;

	button {
		width: 100%;
		height: 35px;
		border: none;
		border-radius: 5px;
		outline: none;

		font-family: 'DM Sans';
		font-style: normal;

		font-weight: 400;
		font-size: 16px;
		line-height: 21px;
		color: #06152b;
		opacity: 0.5;
	}
}
