#form-signin {
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	// background-color: hotpink;
	display: grid;
	grid-template-columns: 30% 70%;
	.wrapper {
		width: 100%;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		// background-color: #fff;
		// background-color: hotpink;

		.box-signin {
			width: min(100%, 400px);
			// width: 100%;
			height: auto;
			padding: 15px;
			// background-color: #1a5276;
			.title-logo {
				display: flex;
				align-items: center;
				justify-content: center;
				flex-direction: column;
				gap: 1.5rem;
				margin-bottom: 2rem;

				h3 {
					font-weight: 600;
					color: #06152b;
					font-size: 33px;
				}
			}

			.form {
				display: flex;
				flex-direction: column;
				gap: 1.5rem;

				.btn-signin {
					height: 40px;
					width: 100%;
					border-radius: 8px;
					outline: none;
					border: 0px;
					background-color: #1a5276;

					font-weight: 600;
					color: #fff;
					&:disabled {
						opacity: 0.35;
						pointer-events: none;
					}
				}

				.form-cehckbox {
					margin-top: 0px;
					margin-bottom: 10px;
					display: flex;
					align-items: center;
					gap: 5px;
				}
			}
		}
	}

	.image-wrapper {
		width: 100%;
		height: 100%;
		background-color: #f1f4fa;
		display: flex;
		align-items: center;
		justify-content: center;
	}
}
