#page-not-found {
	width: 100%;
	height: 100vh;
	// background-color: aqua;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	.page-404 {
		display: flex;
		font-size: 200px;
		font-weight: 600;
		justify-content: center;
		align-items: center;
		gap: 20px;
		img {
			width: 200px;
			height: 200px;
			border-radius: 50%;
			object-fit: fill;
			border: 1px solid black;
		}
	}
	.description-notfound {
		width: min(100%, 500px);
		display: flex;
		flex-direction: column;
		justify-content: flex-start;

		button {
			width: 100px;
			height: 40px;
			border: 2px solid #1a5276;
			border-radius: 8px;
			padding: 5px 1px;
			outline: none;
			background-color: #fff;
			font-weight: 600;
			cursor: pointer;
		}
	}
}
