#form-show-booking {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 20px;

	.product-choose {
		width: 100%;

		.product-name {
			width: auto;
			min-width: 90px;
			height: 30px;
			background: #ff69b4;
			border-radius: 10px;
			outline: none;
			border: none;

			font-family: 'DM Sans';
			font-style: normal;
			font-weight: 400;
			font-size: 14.22px;
			line-height: 19px;
			text-align: center;

			color: #ffffff;
		}
	}

	.detail-product {
		width: 100%;
		height: auto;
		padding: 10px;

		border: 1px solid #d3d3d3;
		opacity: 0.9;
		border-radius: 10px;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		gap: 15px;

		.list-detail-product {
			display: flex;
			flex-direction: row;
			gap: 15px;
			align-items: center;

			font-family: 'DM Sans';
			font-style: normal;
			font-weight: 500;
			font-size: 12.64px;
			line-height: 16px;

			color: #06152b;
		}
	}
	.add-members {
		display: flex;
		align-items: flex-end;

		.button-add-member {
			width: 100%;
			height: 40px;
			background: #3a36db;
			border-radius: 8px;
			outline: none;
			border: none;
			display: flex;
			gap: 10px;
			align-items: center;
			justify-content: center;

			font-family: 'DM Sans';
			font-style: normal;
			font-weight: 400;
			font-size: 14.22px;
			line-height: 19px;
			text-align: center;

			color: #ffffff;
		}
	}

	.list-member {
		width: 100%;
		height: auto;
		border-radius: 10px;
		border: 1px solid #d3d3d3;
		.member-detail {
			width: 100%;
			display: flex;
			justify-content: space-between;
			align-items: center;
			border-bottom: 1px;

			padding: 5px 8px;

			button {
				margin: 0px;
				padding: 0px;
				height: 30px;
				width: 30px;
				border: 0;
				text-align: center;
				display: flex;
				align-items: center;
				background-color: transparent;
			}
		}

		.member-detail:nth-child(even) {
			background-color: #f1f1f1;
			border: 1px solid #d3d3d3;
		}
	}

	.member-empty {
		width: 100%;
		height: 40px;
		border-radius: 10px;
		border: 1px solid #d3d3d3;
		display: flex;
		justify-content: center;
		align-items: center;

		font-family: 'DM Sans';
		font-style: normal;
		font-weight: 500;
		font-size: 14.22px;
		line-height: 19px;
		text-align: center;
		color: #d3d3d3;
	}
}
