#upload {
	width: 100%;
	height: 500px;
	padding: 10px;
	background-color: #fff;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 10px;

	.box-upload {
		position: relative;
		width: min(100%, 400px);
		height: min(100%, 400px);
		border-radius: 8px;
		border-width: 2px;
		border-radius: 1rem;
		border-style: dashed;
		border-color: #cbd5e1;
		background-color: #f8fafc;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		font-size: 1rem;
		font-weight: 600;

		input {
			position: absolute;
			width: min(100%, 400px);
			height: min(100%, 400px);
			opacity: 0;
		}
		img {
			width: min(100%, 400px);
			height: min(100%, 400px);
			// max-height: 400px;
			border-radius: 1rem;
			object-fit: cover;
		}
	}

	.btn-upload {
		height: 40px;
		width: min(100%, 200px);
		border-radius: 8px;
		outline: none;
		border: 0px;
		background-color: #1a5276;

		font-weight: 600;
		color: #fff;
		&:disabled {
			opacity: 0.35;
			pointer-events: none;
		}
	}
}
