#trainer {
	width: 100%;

	.btn {
		width: min(100%, 200px);
		height: 40px;
		outline: none;
		background: #3a36db;
		border-radius: 10px;
		border: 0px;

		font-family: 'DM Sans';
		font-style: normal;
		font-weight: 500;
		font-size: 16px;
		line-height: 21px;
		color: #ffffff;
	}

	input {
		width: min(100%, 250px);
		height: 40px;
		border-radius: 10px;
		border: 1px solid #d3d3d3;
		padding-left: 10px;
		outline: none;

		font-family: 'DM Sans';
		font-style: normal;
		font-weight: 400;
		font-size: 14.22px;
		line-height: 19px;
		// color: #ffffff;
		color: #06152b;
	}
}

// .form {
// 	background-color: #3a36db;
// }

.form-input-class {
	display: flex;
	flex-direction: column;
	gap: 10px;
}
.bottom-confirm {
	width: 100%;
	height: auto;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	margin-top: 20px;
	gap: 10px;

	.btn-cancel {
		width: min(100%, 100px);
		height: 40px;
		border: 1px solid #3a36db;
		border-radius: 10px;
		outline: none;

		background-color: #fff;

		font-family: 'DM Sans';
		font-style: normal;
		font-weight: 500;
		font-size: 16px;
		line-height: 21px;
		color: #3a36db;

		&:disabled {
			background-color: #d3d3d3;
			opacity: 0.5;
			pointer-events: none;
		}
	}

	.btn-confirm {
		width: min(100%, 100px);
		height: 40px;
		background-color: #3a36db;
		border: 0px;
		border-radius: 10px;
		outline: none;

		font-family: 'DM Sans';
		font-style: normal;
		font-weight: 500;
		font-size: 16px;
		line-height: 21px;
		color: #ffffff;

		&:disabled {
			background-color: #d3d3d3;
			opacity: 0.5;
			pointer-events: none;
		}
	}
}
