#category {
	width: 100%;

	.btn {
		width: min(100%, 300px);
		height: 40px;
		outline: none;
		background: #3a36db;
		border-radius: 10px;
		border: 0px;

		font-family: 'DM Sans';
		font-style: normal;
		font-weight: 500;
		font-size: 16px;
		line-height: 21px;
		color: #ffffff;
	}

	input {
		width: 100%;
		height: 40px;
		border-radius: 10px;
		border: 1px solid #d3d3d3;
		padding-left: 10px;
		outline: none;

		font-family: 'DM Sans';
		font-style: normal;
		font-weight: 400;
		font-size: 14.22px;
		line-height: 19px;
		// color: #ffffff;
		color: #06152b;
	}

	.search-input {
		width: 100%;
		height: auto;
		padding: 10px;
		display: flex;
		background-color: #fff;
		justify-content: flex-end;
		align-items: center;

		.search {
			width: min(100%, 220px);
		}
	}
}
