.overlay {
	position: absolute;
	right: 0;
	left: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.85);
	opacity: 0;
	background-color: transparent;
	transition: all 450ms cubic-bezier(0.32, 1, 0.23, 1) 0ms;

	.social {
		position: fixed;
		// top: 0;
		// width: 200px;
		top: 65px;
		right: 10px;
		background-color: #fff;
		padding: 8px 24px 16px;
		border: 0;
		display: flex;
		flex-direction: column;
		gap: 8px;
		justify-content: center;
		text-align: left;
		box-sizing: border-box;
		box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.22),
			0px 14px 56px rgba(0, 0, 0, 0.25);
		transform: translateY(100, -100%);

		button {
			display: flex;
			gap: 5px;
			border: 0;
			background-color: transparent;
			text-align: left;
		}

		// transition: all 450ms ease-in-out 0;
		// transition: all 450ms cubic-bezier(0.32, 1, 0.23, 1) 100ms;

		// ul {
		// 	text-align: justify;
		// 	columns: 74px 3;
		// 	vertical-align: bottom;

		// 	li {
		// 		width: 74px;
		// 		display: inline-block;
		// 	}
		// 	a {
		// 		display: block;
		// 		margin: 8px 0;
		// 		color: gray;
		// 		text-decoration: none;
		// 		text-align: center;

		// 		span {
		// 			display: inline-block;
		// 			width: 100%;
		// 		}
		// 	}
		// }

		// .facebook span {
		// 	color: #3b5998;
		// }
		// .twitter span {
		// 	color: #00aced;
		// }
		// .linkedin span {
		// 	color: #007bb5;
		// }
		// .reddit span {
		// 	display: block;
		// 	width: 48px;
		// 	height: 48px;
		// 	margin: 0 auto;
		// 	border-radius: 2px;
		// 	background-color: #cee3f8;
		// 	color: #fff;
		// 	text-shadow: 1px 1px #000, -1px -1px #000, -1px 1px #000, 1px -1px #000;

		// 	&::after {
		// 		content: '';
		// 		display: block;
		// 		height: 4px;
		// 		width: 4px;
		// 		background-color: red;
		// 		border-radius: 50%;
		// 		position: relative;
		// 		top: -24px;
		// 		left: 16px;
		// 		box-shadow: 12px 0 red;
		// 	}
		// }
		// .whatsapp span {
		// 	color: #4dc247;
		// }
	}

	// .btn-close {
	// 	color: #666;
	// 	transform: scale(0, 0);
	// 	transition: all 450ms ease-in-out 0;
	// }

	&:target {
		// Active animate in modal

		display: block;
		// position: fixed;
		top: 0;
		opacity: 1;
		background-color: transparent;

		.social {
			width: 200px;
			top: 65px;
			// right: 10px;
			transform: translate(0, 0);
			z-index: 9;
		}
		.btn-close {
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
			outline: 0 none;
			transform: scale(1, 1);
		}
	}
}
// @media screen and (min-width: 640px) {
// 	.overlay {
// 		// padding: 0 24px;
// 		.social {
// 			right: 0;
// 			top: 0px;
// 			// width: calc(100% - 48px);
// 		}
// 	}
// }

// .mdi::before {
// 	font-size: 24px;
// 	line-height: 48px;
// }
// .social .mdi::before {
// 	font-size: 48px;
// }
// .sr-only {
// 	/* a generic way to visually hide content while remaining accessible to screen readers (h5bp.com) */
// 	clip: rect(0 0 0 0);
// 	overflow: hidden;
// 	position: absolute;
// 	height: 1px;
// 	width: 1px;
// }
