@import '~antd/dist/antd.css';
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500&display=swap');

button {
	cursor: pointer;
}
.d-none {
	display: none;
}

.card-form-input {
	/* width: 70%; */
	background-color: #fff;
	/* min-height: 100%; */
	padding: 20px;
}
.action-button {
	display: flex;
	gap: 10px;
	width: 100%;
	justify-content: center;
	align-items: center;
}
