#form-input {
	width: 100%;
	font-family: 'DM Sans';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 21px;

	color: #06152b;
	// background-color: #e74c3c;
	display: flex;
	flex-direction: column;
	gap: 5px;

	input {
		height: 40px;
		border-radius: 5px;
	}

	.input-error {
		border: 1px solid #e74c3c;
		outline: #e74c3c;
		border-radius: 5px;
	}

	.error {
		color: #e74c3ced;
		font-size: 12px;
	}
}

#form-select {
	width: 100%;
	font-family: 'DM Sans';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 21px;

	color: #06152b;
	display: flex;
	flex-direction: column;
	gap: 5px;

	.ant-select:not(.ant-select-customize-input) .ant-select-selector {
		height: 40px;
		border-radius: 5px;
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: #fff;
		color: #06152b;
		// border: 1px solid #d3d3d3;
		padding: 0px 10px;
		outline: none;
		// background-color: #e74c3c;

		.ant-select-selection-search-input {
			width: 100%;
			height: 100%;

			&::placeholder {
				color: #06152b;
			}
		}
	}
	.input-error {
		border: 1px solid #e74c3c;
		outline: #e74c3c;
		border-radius: 5px;
	}
	.error {
		color: #e74c3ced;
		font-size: 12px;
	}
}

#form-input-textarea {
	width: 100%;
	font-family: 'DM Sans';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 21px;

	color: #06152b;
	// background-color: #e74c3c;
	display: flex;
	flex-direction: column;
	gap: 5px;

	textarea {
		// height: 40px;
		border-radius: 5px;
	}

	.input-error {
		border: 1px solid #e74c3c;
		outline: #e74c3c;
		border-radius: 5px;
	}

	.error {
		color: #e74c3ced;
		font-size: 12px;
	}
}

.checkbox {
	display: flex;
	gap: 5px;
}
